<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guild_boss/boss_bouns01.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,169},{43,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,38}}</string>
                <key>sourceSize</key>
                <string>{43,38}</string>
            </dict>
            <key>guild_boss/boss_bouns02.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,169},{54,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,45}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>guild_boss/boss_bouns03.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,169},{43,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,38}}</string>
                <key>sourceSize</key>
                <string>{43,38}</string>
            </dict>
            <key>guild_boss/boss_bouns04.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,169},{54,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,45}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>guild_boss/boss_enter.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,183},{62,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,99}}</string>
                <key>sourceSize</key>
                <string>{62,99}</string>
            </dict>
            <key>guild_boss/boss_platform01.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,183},{118,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,63}}</string>
                <key>sourceSize</key>
                <string>{118,63}</string>
            </dict>
            <key>guild_boss/boss_platform02.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,169},{91,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,44}}</string>
                <key>sourceSize</key>
                <string>{91,44}</string>
            </dict>
            <key>guild_boss/boss_platform03.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,215},{27,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,29}}</string>
                <key>sourceSize</key>
                <string>{27,29}</string>
            </dict>
            <key>guild_boss/boss_platform04.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,211},{93,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,40}}</string>
                <key>sourceSize</key>
                <string>{93,40}</string>
            </dict>
            <key>guild_boss/boss_platform05.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,215},{26,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,29}}</string>
                <key>sourceSize</key>
                <string>{26,29}</string>
            </dict>
            <key>guild_boss/boss_platform06.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,169},{57,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,42}}</string>
                <key>sourceSize</key>
                <string>{57,42}</string>
            </dict>
            <key>guild_boss/boss_platform07.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,181},{91,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,44}}</string>
                <key>sourceSize</key>
                <string>{91,44}</string>
            </dict>
            <key>guild_boss/boss_platform08.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,169},{93,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,40}}</string>
                <key>sourceSize</key>
                <string>{93,40}</string>
            </dict>
            <key>guild_boss/boss_platform09.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,169},{57,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,42}}</string>
                <key>sourceSize</key>
                <string>{57,42}</string>
            </dict>
            <key>guild_boss/boss_platform10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{118,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,63}}</string>
                <key>sourceSize</key>
                <string>{118,63}</string>
            </dict>
            <key>guild_boss/boss_tower01.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{320,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,165}}</string>
                <key>sourceSize</key>
                <string>{320,165}</string>
            </dict>
            <key>guild_boss/boss_tower02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,2},{320,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,146}}</string>
                <key>sourceSize</key>
                <string>{320,146}</string>
            </dict>
            <key>guild_boss/boss_tower03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,179}}</string>
                <key>sourceSize</key>
                <string>{320,179}</string>
            </dict>
            <key>guild_boss/boss_tower04.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{320,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,155}}</string>
                <key>sourceSize</key>
                <string>{320,155}</string>
            </dict>
            <key>guild_boss/boss_tower05.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,169},{37,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,70}}</string>
                <key>sourceSize</key>
                <string>{37,70}</string>
            </dict>
            <key>guild_boss/boss_tower06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1823,126},{209,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,113}}</string>
                <key>sourceSize</key>
                <string>{209,113}</string>
            </dict>
            <key>guild_boss/boss_tower07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,150},{320,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,101}}</string>
                <key>sourceSize</key>
                <string>{320,101}</string>
            </dict>
            <key>guild_boss/boss_tower08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,126},{209,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,113}}</string>
                <key>sourceSize</key>
                <string>{209,113}</string>
            </dict>
            <key>guild_boss/boss_tower09.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,169},{37,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,70}}</string>
                <key>sourceSize</key>
                <string>{37,70}</string>
            </dict>
            <key>guild_boss/boss_tower10.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,169},{10,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,50}}</string>
                <key>sourceSize</key>
                <string>{10,50}</string>
            </dict>
            <key>guild_boss/boss_tower11.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,169},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>guild_boss/boss_tower12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,2},{320,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,122}}</string>
                <key>sourceSize</key>
                <string>{320,122}</string>
            </dict>
            <key>guild_boss/boss_tower13.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{320,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,165}}</string>
                <key>sourceSize</key>
                <string>{320,165}</string>
            </dict>
            <key>guild_boss/boss_tower14.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,169},{37,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,70}}</string>
                <key>sourceSize</key>
                <string>{37,70}</string>
            </dict>
            <key>guild_boss/transparent.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,247},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss.png</string>
            <key>size</key>
            <string>{2034,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05cb114a866e24291c58938f79879f88:1/1$</string>
            <key>textureFileName</key>
            <string>boss.png</string>
        </dict>
    </dict>
</plist>
