<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>campaign/round_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,435},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>campaign/round_success.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{38,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,37}}</string>
                <key>sourceSize</key>
                <string>{38,37}</string>
            </dict>
            <key>campaign/sea_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,212},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>campaign/sea_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,234},{154,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,19}}</string>
                <key>sourceSize</key>
                <string>{154,19}</string>
            </dict>
            <key>campaign/sky_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,190},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>campaign/sky_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{146,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,28}}</string>
                <key>sourceSize</key>
                <string>{146,28}</string>
            </dict>
            <key>campaign/tower_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,84}}</string>
                <key>sourceSize</key>
                <string>{320,84}</string>
            </dict>
            <key>campaign/tower_bottom2.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,150},{38,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,27}}</string>
                <key>sourceSize</key>
                <string>{38,27}</string>
            </dict>
            <key>campaign/tower_door.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,390},{69,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,86}}</string>
                <key>sourceSize</key>
                <string>{69,86}</string>
            </dict>
            <key>campaign/tower_grass.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,390},{97,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,92}}</string>
                <key>sourceSize</key>
                <string>{97,92}</string>
            </dict>
            <key>campaign/tower_template.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,229},{251,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,150}}</string>
                <key>sourceSize</key>
                <string>{251,150}</string>
            </dict>
            <key>campaign/tower_top1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,261},{245,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,57}}</string>
                <key>sourceSize</key>
                <string>{245,57}</string>
            </dict>
            <key>campaign/tower_top2.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,381},{251,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,52}}</string>
                <key>sourceSize</key>
                <string>{251,52}</string>
            </dict>
            <key>campaign/tower_top3.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,88},{139,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,259}}</string>
                <key>sourceSize</key>
                <string>{139,259}</string>
            </dict>
            <key>campaign/tower_top4.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{257,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,156}}</string>
                <key>sourceSize</key>
                <string>{257,156}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>campaign.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:887474cff5d5c527180877f2ba4b9b70:1/1$</string>
            <key>textureFileName</key>
            <string>campaign.png</string>
        </dict>
    </dict>
</plist>
