<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>mining/float_ground.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,0},{92,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,26}</string>
			</dict>
			<key>mining/mud_ground.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,0},{92,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,83}</string>
			</dict>
			<key>mining/city_decorate1.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,0},{77,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,53}</string>
			</dict>
			<key>mining/city_decorate2.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,77},{17,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,35}</string>
			</dict>
			<key>mining/city_decorate3.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,78},{19,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,25}</string>
			</dict>
			<key>mining/city_decorate4.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,97},{19,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,23}</string>
			</dict>
			<key>mining/city_decorate5.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,54},{23,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,28}</string>
			</dict>
			<key>mining/city_decorate6.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,54},{24,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,28}</string>
			</dict>
			<key>mining/city_decorate7.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,78},{27,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,20}</string>
			</dict>
			<key>mining/mud_decorate1.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,53},{32,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,25}</string>
			</dict>
			<key>mining/mud_decorate2.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,53},{16,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{16,10}</string>
			</dict>
			<key>mining/mud_decorate3.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,54},{29,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,14}</string>
			</dict>
			<key>mining/mud_decorate4.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,78},{23,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,18}</string>
			</dict>
			<key>mining/mud_decorate5.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,26},{19,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,44}</string>
			</dict>
			<key>mining/mud_decorate6.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,0},{34,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,40}</string>
			</dict>
			<key>mining/mud_decorate7.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,81},{26,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,19}</string>
			</dict>
			<key>mining/mud_dibiao_z.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,0},{92,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,83}</string>
			</dict>
			<key>mining/td_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,26},{28,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,35}</string>
			</dict>
			<key>mining/td_gc.png</key>
			<dict>
				<key>frame</key>
				<string>{{708,26},{28,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,35}</string>
			</dict>
			<key>mining/td_yj.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,53},{28,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,35}</string>
			</dict>
			<key>mining/city_dibiao_z.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,0},{92,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,83}</string>
			</dict>
			<key>mining/deep3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{320,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,170}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mining.png</string>
			<key>realTextureFileName</key>
			<string>mining.png</string>
			<key>size</key>
			<string>{1024,256}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>256</integer>
		</dict>
	</dict>
</plist>