<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>planet/bg_line_planet.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,850},{209,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,64}}</string>
                <key>sourceSize</key>
                <string>{209,64}</string>
            </dict>
            <key>planet/bg_magic.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,643},{376,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,169}}</string>
                <key>sourceSize</key>
                <string>{376,169}</string>
            </dict>
            <key>planet/bg_orbit.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{639,562}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{639,562}}</string>
                <key>sourceSize</key>
                <string>{639,562}</string>
            </dict>
            <key>planet/fire_small_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,622},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>planet/fire_small_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,560},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>planet/fire_small_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,498},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>planet/fire_small_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,436},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>planet/fire_small_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,374},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>planet/fire_small_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,312},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>planet/fire_small_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,250},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>planet/fire_small_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,188},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>planet/fire_small_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,126},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>planet/fire_small_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,1974},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>planet/fire_small_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1945},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>planet/fire_small_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,64},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>planet/fire_small_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,1806},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>planet/fire_small_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,1538},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>planet/fire_small_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,1912},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>planet/fire_small_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1883},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>planet/fire_small_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1662},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>planet/fire_small_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>planet/icon_sword_planet.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1960},{68,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>planet/minidialog.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,1695},{43,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,32}}</string>
                <key>sourceSize</key>
                <string>{43,32}</string>
            </dict>
            <key>planet/xingqiu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1662},{148,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,152}}</string>
                <key>sourceSize</key>
                <string>{148,152}</string>
            </dict>
            <key>planet/xingqiu_1_feichuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1021},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,18}</string>
            </dict>
            <key>planet/xingqiu_1_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1021},{148,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,152}}</string>
                <key>sourceSize</key>
                <string>{148,152}</string>
            </dict>
            <key>planet/xingqiu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1816},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>planet/xingqiu_2_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1175},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>planet/xingqiu_2_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,1487},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>planet/xingqiu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1461},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>planet/xingqiu_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,1773},{31,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,26}}</string>
                <key>sourceSize</key>
                <string>{31,26}</string>
            </dict>
            <key>planet/xingqiu_3_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,1631},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>planet/xingqiu_3_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1319},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>planet/xingqiu_3_shui_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2030},{20,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,5}}</string>
                <key>sourceSize</key>
                <string>{20,5}</string>
            </dict>
            <key>planet/xingqiu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,1883},{137,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,137}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>planet/xingqiu_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1487},{173,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,173}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>planet/xingqiu_4_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1773},{137,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,137}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>planet/xingqiu_4_xiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1724},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>planet/xingqiu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1912},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>planet/xingqiu_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,1868},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>planet/xingqiu_5_bian.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,643},{205,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,69}}</string>
                <key>sourceSize</key>
                <string>{205,69}</string>
            </dict>
            <key>planet/xingqiu_5_bian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,1660},{45,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,33}}</string>
                <key>sourceSize</key>
                <string>{45,33}</string>
            </dict>
            <key>planet/xingqiu_5_bian_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1175},{14,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,4}}</string>
                <key>sourceSize</key>
                <string>{14,4}</string>
            </dict>
            <key>planet/xingqiu_5_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,1743},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>planet/xingqiu_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,1743},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>planet/xingqiu_6_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,1603},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>planet/xingqiu_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1303},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>planet/xingqiu_back_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1538},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>planet/xingqiu_back_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,850},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>planet/xingqiu_beijn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,643},{320,468}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,468}}</string>
                <key>sourceSize</key>
                <string>{320,468}</string>
            </dict>
            <key>planet/xingqiu_beijn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1113},{320,372}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,372}}</string>
                <key>sourceSize</key>
                <string>{320,372}</string>
            </dict>
            <key>planet/xingqiu_beijn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,684},{14,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,15}}</string>
                <key>sourceSize</key>
                <string>{14,15}</string>
            </dict>
            <key>planet/xingqiu_feichuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1061},{139,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,86}}</string>
                <key>sourceSize</key>
                <string>{139,86}</string>
            </dict>
            <key>planet/xingqiu_feichuan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1483},{79,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,53}}</string>
                <key>sourceSize</key>
                <string>{79,53}</string>
            </dict>
            <key>planet/xingqiu_feichuan2_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,1729},{14,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,12}}</string>
                <key>sourceSize</key>
                <string>{14,12}</string>
            </dict>
            <key>planet/xingqiu_xuanwo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1202},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>planet/xingqiu_xuanwo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1960},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>planet/xingqiu_xuanwo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1398},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>planet/xingqiu_xuanwo_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,1603},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>planet.png</string>
            <key>size</key>
            <string>{584,2037}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c0932fe4640286f15e20a8d72be8af0:1/1$</string>
            <key>textureFileName</key>
            <string>planet.png</string>
        </dict>
    </dict>
</plist>
