<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>recover/dianji_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,105},{23,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,31}</string>
			</dict>
			<key>recover/dianji_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,0},{37,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,50}</string>
			</dict>
			<key>recover/dianji_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,37},{57,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,28}</string>
			</dict>
			<key>recover/kuang_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,43},{35,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,36}</string>
			</dict>
			<key>recover/kuang_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,96},{29,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,35}</string>
			</dict>
			<key>recover/kuang_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,149},{29,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,36}</string>
			</dict>
			<key>recover/kuang_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,78},{29,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,35}</string>
			</dict>
			<key>recover/kuang_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,78},{27,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,34}</string>
			</dict>
			<key>recover/kuang_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,94},{27,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,35}</string>
			</dict>
			<key>recover/kuang_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,85},{27,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,34}</string>
			</dict>
			<key>recover/kuang_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,73},{28,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,35}</string>
			</dict>
			<key>recover/kuang_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,78},{29,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,36}</string>
			</dict>
			<key>recover/kuang_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{915,42},{19,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,12}</string>
			</dict>
			<key>recover/kuang_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,43},{35,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,36}</string>
			</dict>
			<key>recover/kuang_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,50},{35,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,36}</string>
			</dict>
			<key>recover/kuang_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,56},{35,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,36}</string>
			</dict>
			<key>recover/kuang_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,91},{35,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,36}</string>
			</dict>
			<key>recover/kuang_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,19},{39,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,37}</string>
			</dict>
			<key>recover/kuang_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,43},{30,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,35}</string>
			</dict>
			<key>recover/kuang_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,37},{28,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,36}</string>
			</dict>
			<key>recover/kuang_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,105},{30,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,35}</string>
			</dict>
			<key>recover/kuang_hui.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,64},{11,5}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{11,5}</string>
			</dict>
			<key>recover/wajueji_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,155},{88,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,64}</string>
			</dict>
			<key>recover/wajueji_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,0},{160,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,156}</string>
			</dict>
			<key>recover/wajueji_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,108},{41,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,29}</string>
			</dict>
			<key>recover/wajueji_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,41},{59,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,69}</string>
			</dict>
			<key>recover/wajueji_12_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,19},{51,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,31}</string>
			</dict>
			<key>recover/wajueji_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,129},{37,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,25}</string>
			</dict>
			<key>recover/wajueji_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,50},{27,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,16}</string>
			</dict>
			<key>recover/wajueji_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,77},{27,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,16}</string>
			</dict>
			<key>recover/wajueji_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{695,96},{21,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,27}</string>
			</dict>
			<key>recover/wajueji_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,75},{13,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,10}</string>
			</dict>
			<key>recover/wajueji_17_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,85},{11,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,10}</string>
			</dict>
			<key>recover/wajueji_17_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,0},{103,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,43}</string>
			</dict>
			<key>recover/wajueji_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,41},{60,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,55}</string>
			</dict>
			<key>recover/wajueji_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,155},{88,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,64}</string>
			</dict>
			<key>recover/wajueji_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,0},{88,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,64}</string>
			</dict>
			<key>recover/wajueji_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,0},{105,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,19}</string>
			</dict>
			<key>recover/wajueji_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{930,0},{105,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{105,19}</string>
			</dict>
			<key>recover/wajueji_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,0},{105,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{105,19}</string>
			</dict>
			<key>recover/wajueji_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,0},{131,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,41}</string>
			</dict>
			<key>recover/wajueji_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,64},{35,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,80}</string>
			</dict>
			<key>recover/wajueji_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,99},{35,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,80}</string>
			</dict>
			<key>recover/wajueji_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{343,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{343,155}</string>
			</dict>
			<key>recover/wajueji_suishi_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,61},{14,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{14,15}</string>
			</dict>
			<key>recover/wajueji_suishi_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,155},{10,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{10,7}</string>
			</dict>
			<key>recover/wajueji_suishi_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,75},{7,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{7,6}</string>
			</dict>
			<key>recover/wajueji_suishi_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{915,19},{23,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,15}</string>
			</dict>
			<key>recover/wajueji_yin.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,155},{107,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,160}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>recover.png</string>
			<key>realTextureFileName</key>
			<string>recover.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>