<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tower/cloud01.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,690},{155,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,96}}</string>
                <key>sourceSize</key>
                <string>{155,96}</string>
            </dict>
            <key>tower/cloud02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1421},{95,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,38}}</string>
                <key>sourceSize</key>
                <string>{95,38}</string>
            </dict>
            <key>tower/cloud03.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,903},{123,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,63}}</string>
                <key>sourceSize</key>
                <string>{123,63}</string>
            </dict>
            <key>tower/cloud04.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,1034},{120,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,76}}</string>
                <key>sourceSize</key>
                <string>{120,76}</string>
            </dict>
            <key>tower/cloud05.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,968},{121,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,64}}</string>
                <key>sourceSize</key>
                <string>{121,64}</string>
            </dict>
            <key>tower/cloud06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1464},{138,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,91}}</string>
                <key>sourceSize</key>
                <string>{138,91}</string>
            </dict>
            <key>tower/color_high.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,548},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>tower/color_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,542},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>tower/color_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,536},{4,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,32}}</string>
                <key>sourceSize</key>
                <string>{4,32}</string>
            </dict>
            <key>tower/id_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1045},{182,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,70}}</string>
                <key>sourceSize</key>
                <string>{182,70}</string>
            </dict>
            <key>tower/id_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1352},{160,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,67}}</string>
                <key>sourceSize</key>
                <string>{160,67}</string>
            </dict>
            <key>tower/id_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1283},{160,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,67}}</string>
                <key>sourceSize</key>
                <string>{160,67}</string>
            </dict>
            <key>tower/id_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1214},{160,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,67}}</string>
                <key>sourceSize</key>
                <string>{160,67}</string>
            </dict>
            <key>tower/id_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1262},{158,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,57}}</string>
                <key>sourceSize</key>
                <string>{158,57}</string>
            </dict>
            <key>tower/kfpvp.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1321},{141,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,149}}</string>
                <key>sourceSize</key>
                <string>{141,149}</string>
            </dict>
            <key>tower/space02.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,570},{118,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,97}}</string>
                <key>sourceSize</key>
                <string>{118,97}</string>
            </dict>
            <key>tower/space03.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1112},{148,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,116}}</string>
                <key>sourceSize</key>
                <string>{148,116}</string>
            </dict>
            <key>tower/space04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,703},{204,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,183}}</string>
                <key>sourceSize</key>
                <string>{204,183}</string>
            </dict>
            <key>tower/suolian.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,392},{9,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,142}}</string>
                <key>sourceSize</key>
                <string>{9,142}</string>
            </dict>
            <key>tower/tower_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,388}}</string>
                <key>sourceSize</key>
                <string>{320,388}</string>
            </dict>
            <key>tower/tower_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,888},{189,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,155}}</string>
                <key>sourceSize</key>
                <string>{189,155}</string>
            </dict>
            <key>tower/tower_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{305,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,173}}</string>
                <key>sourceSize</key>
                <string>{305,173}</string>
            </dict>
            <key>tower/tower_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,567},{217,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,134}}</string>
                <key>sourceSize</key>
                <string>{217,134}</string>
            </dict>
            <key>tower/tower_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1117},{95,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,181}}</string>
                <key>sourceSize</key>
                <string>{95,181}</string>
            </dict>
            <key>tower/tower_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,1464},{111,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,144}}</string>
                <key>sourceSize</key>
                <string>{111,144}</string>
            </dict>
            <key>tower/tower_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,847},{54,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,114}}</string>
                <key>sourceSize</key>
                <string>{54,114}</string>
            </dict>
            <key>tower/tower_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,1421},{56,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,88}}</string>
                <key>sourceSize</key>
                <string>{56,88}</string>
            </dict>
            <key>tower/tower_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,1511},{95,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,70}}</string>
                <key>sourceSize</key>
                <string>{95,70}</string>
            </dict>
            <key>tower/transparent.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,536},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tower.png</string>
            <key>size</key>
            <string>{324,1608}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2fa74238f5610ac26c229855ba28b764:1/1$</string>
            <key>textureFileName</key>
            <string>tower.png</string>
        </dict>
    </dict>
</plist>
