<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mining_boss_ani_000001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{83,88}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{83,88}}</string>
                <key>sourceSize</key>
                <string>{87,88}</string>
            </dict>
            <key>mining_boss_ani_000002.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,92},{83,88}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{83,88}}</string>
                <key>sourceSize</key>
                <string>{87,88}</string>
            </dict>
            <key>mining_boss_ani_000003.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,39},{85,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{85,88}}</string>
                <key>sourceSize</key>
                <string>{87,88}</string>
            </dict>
            <key>mining_boss_ani_000004.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,39},{85,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{85,88}}</string>
                <key>sourceSize</key>
                <string>{87,88}</string>
            </dict>
            <key>mining_boss_ani_000005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{85,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{85,88}}</string>
                <key>sourceSize</key>
                <string>{87,88}</string>
            </dict>
            <key>mining_boss_ani_000006.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,177},{85,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{85,86}}</string>
                <key>sourceSize</key>
                <string>{87,88}</string>
            </dict>
            <key>mining_boss_ani_000007.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,126},{85,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{85,86}}</string>
                <key>sourceSize</key>
                <string>{87,88}</string>
            </dict>
            <key>mining_boss_ani_000008.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,126},{85,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{85,86}}</string>
                <key>sourceSize</key>
                <string>{87,88}</string>
            </dict>
            <key>mining_boss_ani_000009.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,213},{85,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{85,84}}</string>
                <key>sourceSize</key>
                <string>{87,88}</string>
            </dict>
            <key>mining_boss_ani_000010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{85,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{85,84}}</string>
                <key>sourceSize</key>
                <string>{87,88}</string>
            </dict>
            <key>mining_boss_ani_000011.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,213},{85,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{85,82}}</string>
                <key>sourceSize</key>
                <string>{87,88}</string>
            </dict>
            <key>mining_boss_ani_000012.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,297},{83,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{83,80}}</string>
                <key>sourceSize</key>
                <string>{87,88}</string>
            </dict>
            <key>mining_boss_ani_000013.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,346},{81,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{81,76}}</string>
                <key>sourceSize</key>
                <string>{87,88}</string>
            </dict>
            <key>mining_boss_ani_000014.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,186},{77,74}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{77,74}}</string>
                <key>sourceSize</key>
                <string>{87,88}</string>
            </dict>
            <key>mining_boss_ani_000015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{73,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{73,72}}</string>
                <key>sourceSize</key>
                <string>{87,88}</string>
            </dict>
            <key>mining_boss_ani_000016.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,424},{69,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{69,72}}</string>
                <key>sourceSize</key>
                <string>{87,88}</string>
            </dict>
            <key>mining_boss_ani_000017.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,264},{65,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{65,70}}</string>
                <key>sourceSize</key>
                <string>{87,88}</string>
            </dict>
            <key>mining_boss_ani_000018.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,109},{59,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{59,68}}</string>
                <key>sourceSize</key>
                <string>{87,88}</string>
            </dict>
            <key>mining_boss_ani_000019.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,50},{57,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{57,62}}</string>
                <key>sourceSize</key>
                <string>{87,88}</string>
            </dict>
            <key>mining_boss_ani_000020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{57,58}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{57,58}}</string>
                <key>sourceSize</key>
                <string>{87,88}</string>
            </dict>
            <key>mining_boss_ani_000021.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,264},{51,52}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,15},{51,52}}</string>
                <key>sourceSize</key>
                <string>{87,88}</string>
            </dict>
            <key>mining_boss_ani_000022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,357},{47,48}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{47,48}}</string>
                <key>sourceSize</key>
                <string>{87,88}</string>
            </dict>
            <key>mining_boss_ani_000023.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,2},{39,46}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,17},{39,46}}</string>
                <key>sourceSize</key>
                <string>{87,88}</string>
            </dict>
            <key>mining_boss_ani_000024.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,40},{35,44}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,17},{35,44}}</string>
                <key>sourceSize</key>
                <string>{87,88}</string>
            </dict>
            <key>mining_boss_ani_000025.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,77},{31,40}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,19},{31,40}}</string>
                <key>sourceSize</key>
                <string>{87,88}</string>
            </dict>
            <key>mining_boss_ani_000026.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,110},{27,34}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,22},{27,34}}</string>
                <key>sourceSize</key>
                <string>{87,88}</string>
            </dict>
            <key>mining_boss_ani_000027.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,139},{23,28}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,25},{23,28}}</string>
                <key>sourceSize</key>
                <string>{87,88}</string>
            </dict>
            <key>mining_boss_ani_000028.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,164},{19,22}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,28},{19,22}}</string>
                <key>sourceSize</key>
                <string>{87,88}</string>
            </dict>
            <key>mining_boss_ani_000029.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,171},{13,14}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,32},{13,14}}</string>
                <key>sourceSize</key>
                <string>{87,88}</string>
            </dict>
            <key>mining_boss_ani_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,2},{35,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,200}}</string>
                <key>sourceSize</key>
                <string>{35,200}</string>
            </dict>
            <key>mining_boss_ani_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{265,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,19}}</string>
                <key>sourceSize</key>
                <string>{265,19}</string>
            </dict>
            <key>mining_boss_ani_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,262},{84,82}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{84,82}}</string>
                <key>sourceSize</key>
                <string>{94,92}</string>
            </dict>
            <key>mining_boss_ani_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,23},{126,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,67}}</string>
                <key>sourceSize</key>
                <string>{126,67}</string>
            </dict>
            <key>mining_boss_ani_h00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,92},{13,10}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,10}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>mining_boss_ani_h00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,154},{13,10}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,10}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>mining_boss_ani_h00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,139},{13,10}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{13,10}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>mining_boss_ani_h00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,156},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>mining_boss_ani_h00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,141},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>mining_boss_ani_h00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,126},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>mining_boss_ani_h00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,122},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>mining_boss_ani_h00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,122},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>mining_boss_ani_h00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,107},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>mining_boss_ani_h00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,107},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>mining_boss_ani_h00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,92},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>mining_boss_ani_h00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,92},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>mining_boss_ani_h00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,169},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>mining_boss_ani_h00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,137},{11,14}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>mining_boss_ani_h00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,39},{9,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{9,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>mining_boss_ani_h00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,107},{5,14}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{5,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>mining_boss_ani_h00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,77},{3,2}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{3,2}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>mining_boss_ani_h00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,77},{3,2}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{3,2}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>mining_boss_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,23},{136,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,15}}</string>
                <key>sourceSize</key>
                <string>{136,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mining_boss_ani.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18c67a17fde4f243d3881c846550345b$</string>
            <key>textureFileName</key>
            <string>mining_boss_ani.png</string>
        </dict>
    </dict>
</plist>
