<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>login/announcement_upbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,58},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>login/backbtn_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,78},{64,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,24}}</string>
                <key>sourceSize</key>
                <string>{64,24}</string>
            </dict>
            <key>login/box_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1445,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>login/buttonbg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,2},{233,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,74}}</string>
                <key>sourceSize</key>
                <string>{233,74}</string>
            </dict>
            <key>login/buttonbg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,2},{233,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,74}}</string>
                <key>sourceSize</key>
                <string>{233,74}</string>
            </dict>
            <key>login/buttonbg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{233,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,74}}</string>
                <key>sourceSize</key>
                <string>{233,74}</string>
            </dict>
            <key>login/changearrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1567,74},{48,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,84}}</string>
                <key>sourceSize</key>
                <string>{48,84}</string>
            </dict>
            <key>login/changename.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,58},{60,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,55}}</string>
                <key>sourceSize</key>
                <string>{60,55}</string>
            </dict>
            <key>login/close1_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,58},{70,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,62}}</string>
                <key>sourceSize</key>
                <string>{70,62}</string>
            </dict>
            <key>login/close1_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,58},{70,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,62}}</string>
                <key>sourceSize</key>
                <string>{70,62}</string>
            </dict>
            <key>login/create_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1639,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>login/decorateicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,78},{29,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,40}}</string>
                <key>sourceSize</key>
                <string>{29,40}</string>
            </dict>
            <key>login/destiny_reward_itembg_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,2},{211,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,86}}</string>
                <key>sourceSize</key>
                <string>{211,86}</string>
            </dict>
            <key>login/floating_layerbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1567,2},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>login/green_soul_crystal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1701,2},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>login/hero.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,78},{125,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,31}}</string>
                <key>sourceSize</key>
                <string>{125,31}</string>
            </dict>
            <key>login/loading_round.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,102},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>login/loadingicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,78},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>login/login_qq.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,78},{35,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,32}}</string>
                <key>sourceSize</key>
                <string>{35,32}</string>
            </dict>
            <key>login/login_wechat.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,78},{35,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,32}}</string>
                <key>sourceSize</key>
                <string>{35,32}</string>
            </dict>
            <key>login/logotxt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{377,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,22}}</string>
                <key>sourceSize</key>
                <string>{377,22}</string>
            </dict>
            <key>login/mining_picksbar_bg_7e6203.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{119,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,6}}</string>
                <key>sourceSize</key>
                <string>{119,6}</string>
            </dict>
            <key>login/mining_picksbox_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{363,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,13}}</string>
                <key>sourceSize</key>
                <string>{363,13}</string>
            </dict>
            <key>login/page_arrow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,78},{16,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
            <key>login/paper_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,74}}</string>
                <key>sourceSize</key>
                <string>{256,74}</string>
            </dict>
            <key>login/red_soul_crystal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1653,64},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>login/rolling_container_borde.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,96},{106,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,26}}</string>
                <key>sourceSize</key>
                <string>{106,26}</string>
            </dict>
            <key>login/top_tab.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,2},{265,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,54}}</string>
                <key>sourceSize</key>
                <string>{265,54}</string>
            </dict>
            <key>login/weaponbox_infobg2_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,90},{254,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,30}}</string>
                <key>sourceSize</key>
                <string>{254,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login.png</string>
            <key>size</key>
            <string>{1805,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1dd81999e5c2a8a6aaab5c4af7d8fae7:1/1$</string>
            <key>textureFileName</key>
            <string>login.png</string>
        </dict>
    </dict>
</plist>
