<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lingguang_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,16},{6,5}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,16},{6,5}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,16},{6,5}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,16},{6,5}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,1},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,16},{6,5}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,56},{6,5}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,1},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,48},{6,5}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,40},{6,5}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,32},{6,5}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,40},{6,5}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,24},{6,5}}</string>
                <key>offset</key>
                <string>{-10,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,16},{6,5}}</string>
                <key>offset</key>
                <string>{-12,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,9},{6,5}}</string>
                <key>offset</key>
                <string>{-13,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,9},{6,5}}</string>
                <key>offset</key>
                <string>{-14,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,9},{6,5}}</string>
                <key>offset</key>
                <string>{-15,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,9},{6,5}}</string>
                <key>offset</key>
                <string>{-15,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,9},{6,5}}</string>
                <key>offset</key>
                <string>{-15,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{10,57},{6,5}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{9,49},{6,5}}</string>
                <key>offset</key>
                <string>{-15,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{9,41},{6,5}}</string>
                <key>offset</key>
                <string>{-15,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,16},{6,5}}</string>
                <key>offset</key>
                <string>{-15,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,16},{6,5}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{9,33},{6,5}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,15},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{9,25},{6,5}}</string>
                <key>offset</key>
                <string>{-13,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,16},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,16},{6,5}}</string>
                <key>offset</key>
                <string>{-12,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{9,17},{6,5}}</string>
                <key>offset</key>
                <string>{-11,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,18},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{9,9},{6,5}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,19},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,16},{6,5}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,19},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{6,5}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,20},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,16},{6,5}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,49},{6,5}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,20},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{6,5}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,20},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,33},{6,5}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,20},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{9,25},{6,5}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,20},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,16},{6,5}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,16},{6,5}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,56},{6,5}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,16},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,25},{6,5}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,14},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,17},{6,5}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,13},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,9},{6,5}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,12},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{9,17},{6,5}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{9,17},{6,5}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{6,5}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{6,5}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{6,5}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{6,5}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,10},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{9,9},{6,5}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,11},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,2},{6,5}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,11},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00049.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,16},{6,5}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,10},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00050.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,9},{6,5}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,9},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00051.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,2},{6,5}}</string>
                <key>offset</key>
                <string>{15,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00052.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,2},{6,5}}</string>
                <key>offset</key>
                <string>{15,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,7},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00053.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,16},{6,5}}</string>
                <key>offset</key>
                <string>{15,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,5},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00054.png</key>
            <dict>
                <key>frame</key>
                <string>{{9,25},{6,5}}</string>
                <key>offset</key>
                <string>{14,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,4},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00055.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,9},{6,5}}</string>
                <key>offset</key>
                <string>{13,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,3},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00056.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{6,5}}</string>
                <key>offset</key>
                <string>{12,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,1},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00057.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{6,5}}</string>
                <key>offset</key>
                <string>{11,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00058.png</key>
            <dict>
                <key>frame</key>
                <string>{{10,2},{6,5}}</string>
                <key>offset</key>
                <string>{10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00059.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,32},{6,5}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lingguang_00060.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{6,5}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{6,5}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shanguang_ani.png</string>
            <key>size</key>
            <string>{64,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:756e49da9a2921193e98f68385cb6030$</string>
            <key>textureFileName</key>
            <string>shanguang_ani.png</string>
        </dict>
    </dict>
</plist>
