<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huoyan_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,111},{5,4}}</string>
                <key>offset</key>
                <string>{4,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,86},{5,4}}</string>
                <key>sourceSize</key>
                <string>{37,90}</string>
            </dict>
            <key>huoyan_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,117},{3,4}}</string>
                <key>offset</key>
                <string>{4,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,80},{3,4}}</string>
                <key>sourceSize</key>
                <string>{37,90}</string>
            </dict>
            <key>huoyan_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,204},{5,4}}</string>
                <key>offset</key>
                <string>{3,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,74},{5,4}}</string>
                <key>sourceSize</key>
                <string>{37,90}</string>
            </dict>
            <key>huoyan_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,117},{3,4}}</string>
                <key>offset</key>
                <string>{3,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,68},{3,4}}</string>
                <key>sourceSize</key>
                <string>{37,90}</string>
            </dict>
            <key>huoyan_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,181},{11,28}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,62},{11,28}}</string>
                <key>sourceSize</key>
                <string>{37,90}</string>
            </dict>
            <key>huoyan_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,128},{13,28}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,56},{13,28}}</string>
                <key>sourceSize</key>
                <string>{37,90}</string>
            </dict>
            <key>huoyan_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,194},{17,26}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,52},{17,26}}</string>
                <key>sourceSize</key>
                <string>{37,90}</string>
            </dict>
            <key>huoyan_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{17,26}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,46},{17,26}}</string>
                <key>sourceSize</key>
                <string>{37,90}</string>
            </dict>
            <key>huoyan_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,38},{17,26}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,40},{17,26}}</string>
                <key>sourceSize</key>
                <string>{37,90}</string>
            </dict>
            <key>huoyan_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,199},{25,54}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,36},{25,54}}</string>
                <key>sourceSize</key>
                <string>{37,90}</string>
            </dict>
            <key>huoyan_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{23,52}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,32},{23,52}}</string>
                <key>sourceSize</key>
                <string>{37,90}</string>
            </dict>
            <key>huoyan_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,63},{21,52}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,27},{21,52}}</string>
                <key>sourceSize</key>
                <string>{37,90}</string>
            </dict>
            <key>huoyan_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{21,48}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,24},{21,48}}</string>
                <key>sourceSize</key>
                <string>{37,90}</string>
            </dict>
            <key>huoyan_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,143},{21,44}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,22},{21,44}}</string>
                <key>sourceSize</key>
                <string>{37,90}</string>
            </dict>
            <key>huoyan_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,212},{23,40}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{23,40}}</string>
                <key>sourceSize</key>
                <string>{37,90}</string>
            </dict>
            <key>huoyan_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{31,72}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{31,72}}</string>
                <key>sourceSize</key>
                <string>{37,90}</string>
            </dict>
            <key>huoyan_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{31,68}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{31,68}}</string>
                <key>sourceSize</key>
                <string>{37,90}</string>
            </dict>
            <key>huoyan_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{33,64}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{33,64}}</string>
                <key>sourceSize</key>
                <string>{37,90}</string>
            </dict>
            <key>huoyan_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,66},{35,60}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{35,60}}</string>
                <key>sourceSize</key>
                <string>{37,90}</string>
            </dict>
            <key>huoyan_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,203},{33,48}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,18},{33,48}}</string>
                <key>sourceSize</key>
                <string>{37,90}</string>
            </dict>
            <key>huoyan_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,143},{31,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{31,58}}</string>
                <key>sourceSize</key>
                <string>{37,90}</string>
            </dict>
            <key>huoyan_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,143},{33,54}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{33,54}}</string>
                <key>sourceSize</key>
                <string>{37,90}</string>
            </dict>
            <key>huoyan_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,199},{31,52}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{31,52}}</string>
                <key>sourceSize</key>
                <string>{37,90}</string>
            </dict>
            <key>huoyan_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,63},{31,46}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{31,46}}</string>
                <key>sourceSize</key>
                <string>{37,90}</string>
            </dict>
            <key>huoyan_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,2},{31,62}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{31,62}}</string>
                <key>sourceSize</key>
                <string>{37,90}</string>
            </dict>
            <key>huoyan_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{33,60}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{33,60}}</string>
                <key>sourceSize</key>
                <string>{37,90}</string>
            </dict>
            <key>huoyan_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,144},{31,58}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{31,58}}</string>
                <key>sourceSize</key>
                <string>{37,90}</string>
            </dict>
            <key>huoyan_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,64},{31,56}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{31,56}}</string>
                <key>sourceSize</key>
                <string>{37,90}</string>
            </dict>
            <key>huoyan_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,122},{19,52}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{19,52}}</string>
                <key>sourceSize</key>
                <string>{37,90}</string>
            </dict>
            <key>huoyan_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,204},{21,50}}</string>
                <key>offset</key>
                <string>{4,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{21,50}}</string>
                <key>sourceSize</key>
                <string>{37,90}</string>
            </dict>
            <key>huoyan_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{19,42}}</string>
                <key>offset</key>
                <string>{3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{19,42}}</string>
                <key>sourceSize</key>
                <string>{37,90}</string>
            </dict>
            <key>huoyan_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,122},{19,38}}</string>
                <key>offset</key>
                <string>{4,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,3},{19,38}}</string>
                <key>sourceSize</key>
                <string>{37,90}</string>
            </dict>
            <key>huoyan_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,143},{19,36}}</string>
                <key>offset</key>
                <string>{6,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{19,36}}</string>
                <key>sourceSize</key>
                <string>{37,90}</string>
            </dict>
            <key>huoyan_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{19,34}}</string>
                <key>offset</key>
                <string>{8,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{19,34}}</string>
                <key>sourceSize</key>
                <string>{37,90}</string>
            </dict>
            <key>huoyan_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,128},{7,14}}</string>
                <key>offset</key>
                <string>{4,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,16},{7,14}}</string>
                <key>sourceSize</key>
                <string>{37,90}</string>
            </dict>
            <key>huoyan_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,111},{7,12}}</string>
                <key>offset</key>
                <string>{3,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,15},{7,12}}</string>
                <key>sourceSize</key>
                <string>{37,90}</string>
            </dict>
            <key>huoyan_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,56},{5,12}}</string>
                <key>offset</key>
                <string>{2,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,13},{5,12}}</string>
                <key>sourceSize</key>
                <string>{37,90}</string>
            </dict>
            <key>huoyan_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,56},{5,12}}</string>
                <key>offset</key>
                <string>{1,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,11},{5,12}}</string>
                <key>sourceSize</key>
                <string>{37,90}</string>
            </dict>
            <key>huoyan_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,111},{7,10}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,10},{7,10}}</string>
                <key>sourceSize</key>
                <string>{37,90}</string>
            </dict>
            <key>huoyan_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,117},{3,4}}</string>
                <key>offset</key>
                <string>{2,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{3,4}}</string>
                <key>sourceSize</key>
                <string>{37,90}</string>
            </dict>
            <key>huoyan_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,117},{3,4}}</string>
                <key>offset</key>
                <string>{3,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,13},{3,4}}</string>
                <key>sourceSize</key>
                <string>{37,90}</string>
            </dict>
            <key>huoyan_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,117},{3,4}}</string>
                <key>offset</key>
                <string>{5,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,11},{3,4}}</string>
                <key>sourceSize</key>
                <string>{37,90}</string>
            </dict>
            <key>huoyan_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,204},{3,4}}</string>
                <key>offset</key>
                <string>{6,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,10},{3,4}}</string>
                <key>sourceSize</key>
                <string>{37,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huoyan_all_1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad45bc8d6987cd1c9e9fe5dee5a5dce3$</string>
            <key>textureFileName</key>
            <string>huoyan_all_1.png</string>
        </dict>
    </dict>
</plist>
